#Name:Sachin Kalra
#Author:Madiha Kazmi
#Date created: 29-october-2022
#Purpose: This program will get the users input for converting the units of 
# speed and temperature from one type to another 
print("what do you want to convert")
print(" for  temperature= 1 \nfor speed= 2")
#asking the the user what he wants to convert

choice =int(input())
#when user press 1 and choose to convert the units of temperature
if choice==1:
    print("you habve choosed to conver temperature")
    temperature = int(input("Enter temperature value: "))
    unit = input("please enter temperature unit: ")
    unit = unit.strip()
    #converting from celsius to fahrenheit
    if any([unit.lower()=="celsius", unit.lower()=="c"]):
        F = ((1.8*temperature)) + 32
        print( str(temperature)+"C", "is", int(F), "in Fahrenheit")
    #converting from fahrenheit to celsius
    elif any([unit.lower()=="fahrenheit", unit.lower()=="f"]): 
        C = (temperature -32)*555.6
        print( str(temperature)+"F", "is", int(C), "in Celsius")

    else: print("Values or Unit given is invalid!!") 

#when user press 2 and choose to convert the units of speed
elif choice==2:
    print("you have choosed to convert speed ")
    speed = int(input("Enter speed value: "))
    unit = input("please enter speed unit: ")
    unit = unit.strip()
    #converting from kilometer per hour to miles per hour
    if any([unit.lower()=="kilometer per hour", unit.lower()=="kmh"]):
        MPH = (speed*0.6214)
        print( str(speed)+"kmh", "is", int(MPH), "in miles per hour")
    #converting from miles per hour to kilometer per hour
    elif any([unit.lower()=="miles per hour", unit.lower()=="mph"]): 
        KMP = (speed*1.60)
        print( str(speed)+"mph", "is", int(KMP), "in kilometer per hour")

    else: print("Values or Unit given is invalid!!") 
else:
    print("enter a valid choice")
